{% load image_tags %}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3>{{ card.label }} (<a href="{% url list-by-country card.country.id %}">{{card.country}}</a>)</h3>
</div>
<div class="modal-body">
	{% if card.image %}
	<div class="thumbnail">
		<img src="{{card|scale}}" alt="">
	</div>
	{% endif %}
	
	<table class="table table-bordered">
		<tr>
			<td>Nombre d'unités</td>
			<td>{{card.units}}</td>
		</tr>
		<tr>
			<td>Tirage</td>
			<td>{{card.numberOfCopies}}</td>
		</tr>
		<tr>
			<td>Puce</td>
			<td>{% if card.with_chip %}Oui{% else %}Non{% endif %}</td>
		</tr>
		<tr>
			<td>Date d'émission</td>
			<td>{{card.emissionDate}}</td>
		</tr>
		<tr>
			<td>Date d'expiration</td>
			<td>{{card.expirationDate}}</td>
		</tr>
		<tr>
			<td>Tags</td>
			<td>
				<ul class="tags">				
				{% for tag in card.tags.all %}
					<li><a href="{% url list-by-tag tag.id %}">{{ tag.label }}</a></li>
				{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<p class="pull-left"></p>
	<p class="pull-right"></p>
	<p class="pull-left">Dernière mise-à-jour: {{card.updated_at}}</p><a href="/admin/cards/card/{{card.id}}/" target="_blank" class="btn btn-primary" >Modification</a> 
</div>
