{% extends 'base.html' %}

{% load image_tags %}

{% block main_container %}
<div class="span10">
	<h2>{{ card.label }}</h2>
	
	{% if card.image %}
	<div class="thumbnail">
		<img src="{{card.image|scale}}" alt="">
	</div>
	{% endif %}
	<table class="table table-bordered">
	
		<tr>
			<td>Pays</td>
			<td><a href="{% url list-by-country card.country.id %}">{{card.country}}</a></td>
		</tr>
		<tr>
			<td>Nombre d'unités</td>
			<td>{{card.units}}</td>
		</tr>
		<tr>
			<td>Tirage</td>
			<td>{{card.numberOfCopies}}</td>
		</tr>
		<tr>
			<td>Puce</td>
			<td>{% if card.with_chip %}Oui{% else %}Non{% endif %}</td>
		</tr>
		<tr>
			<td>Date d'émission</td>
			<td>{{card.emissiondate}}</td>
		</tr>
		<tr>
			<td>Date d'expiration</td>
			<td>{{card.expirationdate}}</td>
		</tr>
		<tr>
			<td>Tags</td>
			<td>
				<ul>				
				{% for tag in card.tags.all %}
					<li><a href="{% url list-by-tag tag.id %}">{{ tag.label }}</a></li>
				{% endfor %}
				</ul>
			</td>
		</tr>
	</table>
	<p class="pull-right"><a href="/admin/cards/card/{{card.id}}/" target="_blank" >Modification</a> - Dernière mise-à-jour : {{card.updated_at}}</p>
</div>

{% endblock %}
