{% extends 'base.html' %}

{% load image_tags %}

{% block main_container %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jqcloud.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jqcloud-1.0.2.js"></script>

<script type="text/javascript">
	/*!
	* Create an array of word objects, each representing a word in the cloud
	*/
	var word_array = [
		{% for tag in tags_list %}
			{text: "{{ tag.label }}", weight: {{ tag.occurence }}, link: "{% url list-by-tag tag.id %}"},
		{% endfor %}         
	];

	$(function() {
		// When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
		$("#tagCloud").jQCloud(word_array);		
	});	  
</script>
	
<h2>Nuage de tags</h2>

<div id="tagCloud" style="width: 550px; height: 350px;"></div>

<h2>Derniers ajouts</h2>

<ul class="thumbnails">
{% for card in cards_list %}
	<li class="span2">
		<a href="{% url card-details card.id %}" class="thumbnail">
			{% if card.image %}
				<img src="{{card|crop}}" title="{{card.label}}" />
			{% endif %}
		</a>
	</li>
{% endfor %}
</ul>

{% endblock %}
