{% extends 'base.html' %}

{% load image_tags %}
{% load filter_tags %}

{% block main_container %}

	<h2>{{title}}</h2>

	<ul class="thumbnails">
		{% for card in cards.object_list %}
			<li class="span2">
				<a href="{% url card-details card.id %}" class="thumbnail">
				{% if card.image %}
					<img src="{{card.image|crop}}" title="{{card.label}}" />
				{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>

	<div class="pagination" style="margin: 0 auto; display: inline-block; text-align: center;">
		<span class="step-links">
			{% if cards.has_previous %}
				<a href="?page={{ cards.previous_page_number }}">«</a>
			{% else %}
				<span class="disabled">
					<a href="?page={{ cards.previous_page_number }}">«</a>
				</span>
			{% endif %}
			
			{% for page_num in cards.paginator.num_pages|get_range %}
				{% if page_num == cards.number %}
					<span class="active">
						<a class="active" href="?page={{ page_num }}">{{ page_num }}</a>
					</span>
				{% else %}
					<a href="?page={{ page_num }}">{{ page_num }}</a>
				{% endif %}
	
			{% endfor %}
	
			{% if cards.has_next %}
				<a href="?page={{ cards.next_page_number }}">»</a>
			{% else %}
				<span class="disabled">
					<a href="?page={{ cards.next_page_number }}">»</a>
				</span>
			{% endif %}
		</span>
	</div>
	
{% endblock %}
