<script>

</script>

﻿<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li>
			<form action="/query/" method="POST">
				{% csrf_token %} 
				<input id="q" name="q" type="text" class="search-query" placeholder="Recherche">
			</form>
		</li>
		<li class="pull-right">
			<a href="{% url advanced-query %}" title="Recherche avancée">Recherche avancée</a>
		</li>
		<li class="nav-header">
			Pays
		</li>
		{% for country in countries %}
			<li><a href="{% url list-by-country country.id 1 %}">{{country.label}}</a>
		{% endfor %}
		<li class="nav-header">
			Catégories
		</li>
		{% for cat in categories %}
			<li><a href="{% url list-by-category cat.id 1 %}">{{cat.label}}</a>
				<ul class="nav nav-list">
				{% for subcat in cat.subcategory_set.all %}
					<li><a href="{% url list-by-subcategory subcat.id 1 %}">{{subcat.label}}</a>
				{% endfor %}
				</ul>
			</li>
		{% endfor %}
		<li class="divider"></li>
		<li><a href="#"><i class="icon-book"></i>Recherche avancée</a></li>
	</ul>
</div>
